h1, h2, h3, h4, h5, h6, .t-cta {
  font-family: "FuturaPT-Bold";
  text-transform: uppercase;
}

.t-price {
  margin-bottom: 0px;
  display: inline;
  &--old {
    margin-right: 7px;
    text-decoration: line-through;
  }
  &--new {
    color: $primary;
  }
  &--medium {
    font-size: 26px;
  }
}

.t-cta {
  font-size: 26px;
  text-decoration: underline;
}